
#img-bg{
    height: 1108px;
    width: 1420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/WhatsApp-Image-2021-03-16-at-22.48.55.jpg');
}
